{% extends 'base.html' %}

    {% block stylesheet %}

    {% endblock %}
    {% block main%}



<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>JavaScript Table Filter Search</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        h3 span {
            font-size: 22px;
        }
        h3 input.search-input {
            width: 300px;
            margin-left: auto;
            float: right
        }
        .mt32 {
            margin-top: 32px;
        }
    </style>
     <link rel="stylesheet" href="admin_style.css">
</head>
<body class="mt32">
    <div class="container">
        <h3>
            <header>
                <div class="container">
                <h2>JSS MAHAVIDYAPEETHA</h2>
                <h2>JSS SCIENCE & TECHNOLOGY UNIVERSITY</h2>
                <h2>SRI JAYACHAMARAJENDRA COLLEGE OF ENGINEERING
</h2>
                <hr>

                </div>
            </header>

            <input type="search" placeholder="Search..." class="form-control search-input" data-table="customers-list"/>
        </h3>
        <a id="add" href=""><button>ADD+</button></a>
        <table class="table table-striped mt32 customers-list">
            <thead>
                    <tr><th>User Id</th>
                      <th>User name</th>
                      <th>User Password</th>
                      <th>Operations</th></tr>
                  </thead>

                  <tbody>
                    <tr><td>1</td>
                       <td>Shane Watson</td>
                       <td>Apex45</td>
                       <td><a href=""><button id="modifybn">Modify</button></a> <a href=""><button id="deletebn"> Delete</button></a></td>
                    </tr>

                    <tr><td>2</td>
                       <td>David Warner</td>
                       <td>89@warner</td>
                       <td><a href=""><button id="modifybn">Modify</button></a> <a href=""><button id="deletebn"> Delete</button></a></td>

                    </tr>

                    <tr><td>3</td>
                       <td>AB de Villiers</td>
                       <td>devilli*15</td>
                       <td><a href=""><button id="modifybn">Modify</button></a> <a href=""><button id="deletebn"> Delete</button></a></td>
                    </tr>
                    <tr><td></td>
                       <td></td>
                       <td></td>
                     <td><a href=""><button id="modifybn">Modify</button></a> <a href=""><button id="deletebn"> Delete</button></a></td>
                    </tr>

                    <tr><td></td>
                       <td></td>
                       <td></td>
                     <td><a href=""><button id="modifybn">Modify</button></a> <a href=""><button id="deletebn"> Delete</button></a></td>
                    </tr>

                    <tr><td></td>
                       <td></td>
                       <td></td>
                     <td><a href=""><button id="modifybn">Modify</button></a> <a href=""><button id="deletebn"> Delete</button></a></td>
                    </tr>

                    <tr><td></td>
                       <td></td>
                       <td></td>
                     <td><a href=""><button id="modifybn">Modify</button></a> <a href=""><button id="deletebn"> Delete</button></a></td>
                    </tr>
                    <tr><td></td>
                       <td></td>
                       <td></td>
                     <td><a href=""><button id="modifybn">Modify</button></a> <a href=""><button id="deletebn"> Delete</button></a></td>
                    </tr>
                    <tr><td></td>
                       <td></td>
                       <td></td>
                     <td><a href=""><button id="modifybn">Modify</button></a> <a href=""><button id="deletebn"> Delete</button></a></td>
                    </tr>
                    <tr><td></td>
                       <td></td>
                       <td></td>
                     <td><a href=""><button id="modifybn">Modify</button></a> <a href=""><button id="deletebn"> Delete</button></a></td>
                    </tr>
                    <tr><td></td>
                       <td></td>
                       <td></td>
                     <td><a href=""><button id="modifybn">Modify</button></a> <a href=""><button id="deletebn"> Delete</button></a></td>
                    </tr>
                    <tr><td></td>
                       <td></td>
                       <td></td>
                     <td><a href=""><button id="modifybn">Modify</button></a> <a href=""><button id="deletebn"> Delete</button></a></td>
                    </tr>
                    <tr><td></td>
                       <td></td>
                       <td></td>
                     <td><a href=""><button id="modifybn">Modify</button></a> <a href=""><button id="deletebn"> Delete</button></a></td>
                    </tr>
                    <tr><td></td>
                       <td></td>
                       <td></td>
                     <td><a href=""><button id="modifybn">Modify</button></a> <a href=""><button id="deletebn"> Delete</button></a></td>
                    </tr>
                    <tr><td></td>
                       <td></td>
                       <td></td>
                     <td><a href=""><button id="modifybn">Modify</button></a> <a href=""><button id="deletebn"> Delete</button></a></td>
                    </tr>
                    <tr><td></td>
                       <td></td>
                       <td></td>
                     <td><a href=""><button id="modifybn">Modify</button></a> <a href=""><button id="deletebn"> Delete</button></a></td>
                    </tr>
                    <tr><td></td>
                       <td></td>
                       <td></td>
                     <td><a href=""><button id="modifybn">Modify</button></a> <a href=""><button id="deletebn"> Delete</button></a></td>
                    </tr>
                    <tr><td></td>
                       <td></td>
                       <td></td>
                     <td><a href=""><button id="modifybn">Modify</button></a> <a href=""><button id="deletebn"> Delete</button></a></td>
                    </tr>
                    <tr><td></td>
                       <td></td>
                       <td></td>
                     <td><a href=""><button id="modifybn">Modify</button></a> <a href=""><button id="deletebn"> Delete</button></a></td>
                    </tr>
                    <tr><td></td>
                       <td></td>
                       <td></td>
                     <td><a href=""><button id="modifybn">Modify</button></a> <a href=""><button id="deletebn"> Delete</button></a></td>
                    </tr>
                    <tr><td></td>
                       <td></td>
                       <td></td>
                     <td><a href=""><button id="modifybn">Modify</button></a> <a href=""><button id="deletebn"> Delete</button></a></td>
                    </tr>
                    <tr><td></td>
                       <td></td>
                       <td></td>
                     <td><a href=""><button id="modifybn">Modify</button></a> <a href=""><button id="deletebn"> Delete</button></a></td>
                    </tr>
                    <tr><td></td>
                       <td></td>
                       <td></td>
                     <td><a href=""><button id="modifybn">Modify</button></a> <a href=""><button id="deletebn"> Delete</button></a></td>
                    </tr>
                    <tr><td></td>
                       <td></td>
                       <td></td>
                     <td><a href=""><button id="modifybn">Modify</button></a> <a href=""><button id="deletebn"> Delete</button></a></td>
                    </tr>
                    <tr><td></td>
                       <td></td>
                       <td></td>
                     <td><a href=""><button id="modifybn">Modify</button></a> <a href=""><button id="deletebn"> Delete</button></a></td>
                    </tr>
                    <tr><td></td>
                       <td></td>
                       <td></td>
                     <td><a href=""><button id="modifybn">Modify</button></a> <a href=""><button id="deletebn"> Delete</button></a></td>
                    </tr>
                    <tr><td></td>
                       <td></td>
                       <td></td>
                     <td><a href=""><button id="modifybn">Modify</button></a> <a href=""><button id="deletebn"> Delete</button></a></td>
                    </tr>
                    <tr><td></td>
                       <td></td>
                       <td></td>
                     <td><a href=""><button id="modifybn">Modify</button></a> <a href=""><button id="deletebn"> Delete</button></a></td>
                    </tr>
                    <tr><td></td>
                       <td></td>
                       <td></td>
                     <td><a href=""><button id="modifybn">Modify</button></a> <a href=""><button id="deletebn"> Delete</button></a></td>
                    </tr>
                    <tr><td></td>
                       <td></td>
                       <td></td>
                     <td><a href=""><button id="modifybn">Modify</button></a> <a href=""><button id="deletebn"> Delete</button></a></td>
                    </tr>
                    <tr><td></td>
                       <td></td>
                       <td></td>
                     <td><a href=""><button id="modifybn">Modify</button></a> <a href=""><button id="deletebn"> Delete</button></a></td>
                    </tr>
                    <tr><td></td>
                       <td></td>
                       <td></td>
                     <td><a href=""><button id="modifybn">Modify</button></a> <a href=""><button id="deletebn"> Delete</button></a></td>
                    </tr>
                    <tr><td></td>
                       <td></td>
                       <td></td>
                     <td><a href=""><button id="modifybn">Modify</button></a> <a href=""><button id="deletebn"> Delete</button></a></td>
                    </tr>

                 </tbody>
                </table>

    </div>
    <script>
        (function(document) {
            'use strict';

            var TableFilter = (function(myArray) {
                var search_input;

                function _onInputSearch(e) {
                    search_input = e.target;
                    var tables = document.getElementsByClassName(search_input.getAttribute('data-table'));
                    myArray.forEach.call(tables, function(table) {
                        myArray.forEach.call(table.tBodies, function(tbody) {
                            myArray.forEach.call(tbody.rows, function(row) {
                                var text_content = row.textContent.toLowerCase();
                                var search_val = search_input.value.toLowerCase();
                                row.style.display = text_content.indexOf(search_val) > -1 ? '' : 'none';
                            });
                        });
                    });
                }

                return {
                    init: function() {
                        var inputs = document.getElementsByClassName('search-input');
                        myArray.forEach.call(inputs, function(input) {
                            input.oninput = _onInputSearch;
                        });
                    }
                };
            })(Array.prototype);

            document.addEventListener('readystatechange', function() {
                if (document.readyState === 'complete') {
                    TableFilter.init();
                }
            });

        })(document);
    </script>
</body>
</html>
 {% endblock %}

    {% block scripts %}


    {% endblock %}
